.meal {
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.meal:last-child {
    border-bottom: none;
}
.meal h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.description {
    font-size: 1.25rem;
    color: #383838;
    font-style: italic;
    font-weight: lighter;
    margin-top: 0.25rem;
}

.price {
    font-size: 1.5rem;
    color: #ca6105;
    font-weight: bold;
    margin-top: 0.5rem;
}