.super-container {
  width: 100%;
  height: fit-content;
  min-width: 320px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40;
  padding: 40px;
}
